<div>
  <div>
    <p class="title">Tams</p>
  </div>
  <div class="row tams">
    <div class="col">
      <div class="card total-transaction text-center">
        <div class="card-body">
          <p class="card-title total-title">Total Transaction</p>
          <h5 class="total-number">
            <b>243,000</b>
          </h5>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card successful-transaction text-center">
        <div class="card-body">
          <p class="card-title successful-title">Successful Transaction</p>
          <h5 class="successful-number"><b>57,296</b></h5>
          <p class="card-title percentage">68%</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card failed-transaction text-center">
        <div class="card-body">
          <p class="card-title failed-title">Failed Transaction</p>
          <h5 class="failed-number">
            <b>15,901</b>
          </h5>
          <p class="card-title failed-percentage">12%</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card queued-transaction text-center">
        <div class="card-body">
          <p class="card-title queued-title">Queued Transaction</p>
          <h5 class="queued-number"><b>15,901</b></h5>
          <p class="card-title percentage">20%</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<hr />
