<div class="loader" *ngIf="loading"></div>
<div class="">
  <!-- main dashboard -->

  <!-- flexicons  -->
  <table class="flexicon">
    <tr class="flex-cont row">
      <td class="icons" (click)="getCapk(viewModal, false)">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/web.svg"
        /><a>View</a>
      </td>
      <td class="icons" (click)="addModal.show()">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/ui.svg"
        /><a>Add</a>
      </td>
      <td class="icons" (click)="getCapk(addModal, true)">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/archive.svg"
        /><a>Edit</a>
      </td>
      <td class="icons" (click)="deleteCapk()">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/rubbish-can.svg"
        /><a>Delete</a>
      </td>
    </tr>
  </table>
  <br />

  <!-- table -->
  <div class="table-responsive">
    <table class="table table-striped table-hover mb-0">
      <!--Table head-->
      <thead>
        <tr style="text-align: center">
          <th>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="checkbox-style"
                id="tableDefaultCheck2"
              />
            </div>
          </th>
          <th class="th-md">S/N</th>

          <th class="th-md">
            <a (click)="sortBy('capk_id')"
              >capk ID
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>

          <th class="th-md">
            <a (click)="sortBy('merchant_id')"
              >EXPONENT
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>

          <th class="th-md">
            <a (click)="sortBy('printer_status')"
              >ISSUER
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
          <th class="th-md">
            <a (click)="sortBy('printer_status')"
              >RID INDEX
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
          <th class="th-md">
            <a (click)="sortBy('printer_status')"
              >RID LIST
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
          <th class="th-md">
            <a (click)="sortBy('printer_status')"
              >KEY LENGTH
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
          <th class="th-md">
            <a (click)="sortBy('printer_status')"
              >SHAI
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
          <th class="th-md">
            <a (click)="sortBy('printer_status')"
              >KEY TYPE
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
          <th class="th-md">
            <a (click)="sortBy('printer_status')"
              >EXPIRES
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
        </tr>
      </thead>

      <!--Table body-->
      <tbody>
        <tr *ngFor="let row of capks; let i = index" style="text-align: center">
          <td>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="checkbox-style" />
              <!-- <label class="custom-control-label" for="tableDefaultCheck2">Check 2</label> -->
            </div>
            <!-- <input type="checkbox" [(ngModel)]="row.isSelected" (change)="getUnassigned(row.isSelected, row.serialNumber)">  -->
          </td>

          <td>{{ serial + i }}</td>
          <td>{{ row.id }}</td>
          <td>{{ row.exponent }}</td>
          <td>{{ row.issuer }}</td>
          <td>{{ row.ridIndex }}</td>
          <td>{{ row.ridList }}</td>
          <td>{{ row.keyLength }}</td>
          <td>{{ row.sha1 }}</td>
          <td>{{ row.keyType }}</td>
          <td>{{ row.expirationDate }}</td>
        </tr>
      </tbody>

      <!--Table body-->
      <tbody *ngIf="isData == false; else gettingData">
        <tr>
          <td colspan="15" style="text-align: center; padding: 5% 20%">
            <strong>No Data Available</strong>
          </td>
        </tr>
      </tbody>
      <ng-template #gettingData>
        <tbody *ngIf="isData == undefined">
          <tr>
            <td colspan="15" style="text-align: center; padding: 5% 20%">
              <mdb-spinner spinnerColor="blue"></mdb-spinner>
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
</div>

<!-- view terminal modal -->
<div
  mdbModal
  #viewModal="mdbModal"
  class="modal fade"
  style="overflow: auto"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: true, ignoreBackdropClick: false }"
>
  <div
    class="modal-dialog modal-dialog-scrollable wider modal-fluid"
    role="document"
    *ngIf="capk"
  >
    <div class="modal-content" *ngIf="capk">
      <div class="modal-header">
        <div class="header">
          <p>View Capk</p>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-uc btn-sm waves-light"
            aria-label="Close"
            data-dismiss="modal"
            style="
              color: red !important;
              background-color: white !important;

              font-size: 13px;
              font-weight: bold;
              display: flex;
              text-align: center;
              border: 1px solid !important;
            "
            (click)="viewModal.hide()"
            mdbWavesEffect
          >
            <i
              class="fas fa-times"
              style="text-align: center; align-self: center"
            ></i>
          </button>
        </div>
      </div>

      <!-- modal head -->

      <br />
      <!-- modal body -->
      <div class="modal-body">
        <div class="table-responsive">
          <div class="row">
            <!--first column-->
            <div class="col-lg-6">
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Terminal ID</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.terminalID }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Issuer</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.issuer }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Exponent</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.exponent }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Rid Index</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.ridIndex }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Rid List</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.ridList }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Created At</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.createdAt }}
                  </p>
                </div>
              </div>
              <br />
            

              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Modulus</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.modulus }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">key Type</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.keyType }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">key Length</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.keyLength }}
                  </p>
                </div>
              </div>
              <br />
            </div>

            <!--second column-->
            <div class="col-lg-6">
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Sha1</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.sha1 }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">
                    Application Type
                  </p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.applicationType }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Description</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.description || "null" }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Archived</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.archived }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Firmware Id</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.firmwareId }}
                  </p>
                </div>
              </div>
              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">Updated At</p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.updatedAt }}
                  </p>
                </div>
              </div>

              <br />
              <div class="py-1">
                <div class="row input-style">
                  <p class="col-lg-6 no-change m-0 title col-4">
                    Expiration Date
                  </p>
                  <p class="col-lg-6 no-change m-0 subtitle col-8">
                    {{ capk.expirationDate || "null" }}
                  </p>
                </div>
              </div>

              <br />
            </div>
          </div>
        </div>
      </div>
      <hr />
      <!-- modal footer -->
      <div class="modal-footer">
        <div class="buttons">
          <button type="button" class="btn done-btn" (click)="viewModal.hide()">
            Done
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add & edit CAPK modal -->
<div
  mdbModal
  #addModal="mdbModal"
  class="modal fade"
  style="overflow: auto"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: true, ignoreBackdropClick: false }"
>
  <div class="modal-dialog modal-dialog-scrollable modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header">
          <p *ngIf="!edit">Add Capk</p>
          <p *ngIf="edit">Edit Capk</p>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-uc btn-sm waves-light"
            aria-label="Close"
            data-dismiss="modal"
            style="
              color: red !important;
              background-color: white !important;

              font-size: 13px;
              font-weight: bold;
              display: flex;
              text-align: center;
              border: 1px solid !important;
            "
            (click)="addModal.hide()"
            mdbWavesEffect
          >
            <i
              class="fas fa-times"
              style="text-align: center; align-self: center"
            ></i>
          </button>
        </div>
      </div>
      <!-- modal body -->
      <div class="modal-body">
        <!-- modal body -->
        <div class="modal-body">
          <div class="table-responsive">
            <div class="row">
              <div class="col-lg-6">
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Terminal ID
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="terminalId"
                      name="terminalId"
                      type="text"
                    />
                  </div>
                </div>
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Exponent
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="exponet"
                      name="exponent"
                      type="text"
                    />
                  </div>
                </div>
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Issuer
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="issuer"
                      name="issuer"
                      type="text"
                    />
                  </div>
                </div>
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Rid Index
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="ridindex"
                      name="ridIndex"
                      value="ridIndex"
                      type="text"
                    />
                  </div>
                </div>
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Rid List
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="ridList"
                      name="ridList"
                      type="text"
                    />
                  </div>
                </div>
                <br />
              </div>
              <div class="col-lg-6">
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Key Type
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="keyType"
                      name="keyType"
                      type="text"
                    />
                  </div>
                </div>
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Key length
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="keyLength"
                      name="keyLength"
                      type="text"
                    />
                  </div>
                </div>
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Sha1
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="sha1"
                      name="sha1"
                      type="text"
                    />
                  </div>
                </div>
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Created At
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="createdAt"
                      name="createdAt"
                      type="date"
                    />
                  </div>
                </div>
                <br />
                <div class="py-1">
                  <div class="row input-style">
                    <p class="col-lg-6 no-change m-0 title col-4 p-input-style">
                      Updated At
                    </p>
                    <input
                      class="col-lg-8 form-control my-0 py-0"
                      [ngModelOptions]="{ standalone: true }"
                      ngDefaultControl
                      [(ngModel)]="updatedAt"
                      name="updatedAt"
                      value="updatedAt"
                      type="date"
                    />
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>
          <hr />

          <!-- modal footer -->
          <div class="buttons">
            <button
              type="button"
              class="btn back-btn"
              (click)="addModal.hide()"
            >
              Close
            </button>
            <button
              type="button"
              class="btn done-btn"
              (click)="addTerminal()"
              *ngIf="!edit"
            >
              Proceed
            </button>
            <button
              type="button"
              class="btn done-btn"
              (click)="editTerminal()"
              *ngIf="edit"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
