<div class="main">
  <!-- main dashboard -->

  <!-- SEARCH -->
  <div class="container">
    <div class="row">
      <!-- search by id -->
      <div class="col-md-3 merchant-id">
        <p>Application</p>
        <select
          ngDefaultControl
          [ngModelOptions]="{ standalone: true }"
          class="browser-default custom-select d-block input-id"
          mdbTooltip="How many times in a 24hr period"
          placement="top"
        >
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="6">6</option>
        </select>
      </div>

      <div class="col-md-3"></div>

      <!-- filter -->
      <div class="col-lg-6">
        <div class="row">
          <div class="merchant-number">
            <p>Model</p>
            <input
              class="form-control my-0 py-0 phone-number"
              [ngModelOptions]="{ standalone: true }"
              ngDefaultControl
              type="text"
              placeholder=""
            />
          </div>
          <div class="merchant-name">
            <p>Version</p>
            <input
              class="form-control my-0 py-0 input-name"
              [ngModelOptions]="{ standalone: true }"
              ngDefaultControl
              type="text"
              placeholder=""
            />
          </div>
          <div class="merchant-status">
            <p>Status</p>
            <input
              class="form-control my-0 py-0 input-status"
              [ngModelOptions]="{ standalone: true }"
              ngDefaultControl
              type="text"
              placeholder=""
            />
          </div>
          <button class="btn btn-sm btn-filter">Filter</button>
        </div>
      </div>
    </div>
  </div>
  <br />

  <!-- flexicon  -->
  <div class="flexicon">
    <ul class="flex-cont">
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/web.svg"
          (click)="viewModal.show()"
        /><a>View</a>
      </li>
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/ui.svg"
          (click)="addModal.show()"
        /><a>Add</a>
      </li>
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/archive.svg"
          (click)="editModal.show()"
        /><a>Edit</a>
      </li>
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/rubbish-can.svg"
        /><a>Delete</a>
      </li>
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/open.svg"
        /><a>Enable</a>
      </li>
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/closed.svg"
        /><a>Disable</a>
      </li>
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/archive (1).svg"
        /><a>Copy</a>
      </li>
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/files.svg"
        /><a>Batch Deploy</a>
      </li>
      <li class="icons">
        <img class="flexicon-image" src="../../../assets/img/arrows.svg" /><a
          >Import</a
        >
      </li>
      <li class="icons">
        <img
          class="flexicon-image"
          src="../../../assets/img/arrows (1).svg"
        /><a>Export</a>
      </li>
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/interface (1).svg"
        /><a>Schedule</a>
      </li>
      <li class="icons">
        <img
          class="flexicon-image img-responsive"
          src="../../../assets/img/computer.svg"
        /><a>Restore</a>
      </li>
    </ul>
  </div>
  <br />
  <!-- table -->
  <div class="container">
    <table class="table table-striped table-hover mb-0">
      <!--Table head-->
      <thead>
        <tr style="text-align: center">
          <th>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="checkbox-style"
                id="tableDefaultCheck2"
              />
            </div>
          </th>
          <th class="th-md">S/N</th>

          <th class="th-md">
            <a (click)="sortBy('terminal_id')"
              >Application Name
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>

          <th class="th-md">
            <a (click)="sortBy('terminal_id')"
              >Application Version
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>

          <th class="th-md">
            <a (click)="sortBy('merchant_id')"
              >Model name
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>

          <th class="th-md">
            <a (click)="sortBy('printer_status')"
              >Program File Name
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>

          <th class="th-md">
            <a (click)="sortBy('printer_status')"
              >Program File Version
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>

          <th class="th-md">
            <a (click)="sortBy('terminal_id')"
              >Organisation
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>

          <th class="th-md">
            <a (click)="sortBy('terminal_id')"
              >Status
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>

          <th class="th-md">
            <a (click)="sortBy('terminal_id')"
              >Update Time
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
        </tr>
      </thead>

      <!--Table body-->
      <tbody>
        <tr
          *ngFor="let row of applications; let i = index"
          style="text-align: center"
        >
          <td>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="checkbox-style" />
              <!-- <label class="custom-control-label" for="tableDefaultCheck2">Check 2</label> -->
            </div>
            <!-- <input type="checkbox" [(ngModel)]="row.isSelected" (change)="getUnassigned(row.isSelected, row.serialNumber)">  -->
          </td>

          <td>{{ serial + i }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.applicationVersion }}</td>
          <td>{{ row.modelId }}</td>
          <td>{{ row.programFileName }}</td>
          <td>{{ row.programFileVersion }}</td>
          <td>{{ row.organization }}</td>
          <td>{{ row.status }}</td>
          <td>{{ row.updatedAt }}</td>
        </tr>
      </tbody>

      <!-- {
            "id": 2,
            "name": "Tamslite2",
            "modelId": 2,
            "applicationVersion": "1.0.2",
            "programFileName": "Tamslite2",
            "programFileVersion": "1.0.2",
            "description": "the second application",
            "expirationTime": "2020-05-31T02:21:31.290Z",
            "organization": "itex",
            "isApplicationManager": true,
            "shareToSubOrganization": true,
            "fileUrl": "TAMSLite(v7.8.18)_BD6_sign.bin",
            "md5_encoding": "48dbd972820af9d9e90ce3fea1c1de89",
            "status": "active",
            "archived": false,
            "createdAt": "2020-05-21T02:21:31.290Z",
            "updatedAt": "2020-05-21T02:21:31.290Z",
         -->

      <!--Table body-->
      <tbody *ngIf="isData == false; else gettingData">
        <tr>
          <td colspan="15" style="text-align: center; padding: 5% 20%">
            <strong>No Data Available</strong>
          </td>
        </tr>
      </tbody>
      <ng-template #gettingData>
        <tbody *ngIf="isData == undefined">
          <tr>
            <td colspan="15" style="text-align: center; padding: 5% 20%">
              <mdb-spinner spinnerColor="blue"></mdb-spinner>
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>
  </div>
</div>

<!-- Add merchant modal -->
<div
  mdbModal
  #addModal="mdbModal"
  class="modal fade"
  style="overflow: auto"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: true, ignoreBackdropClick: false }"
>
  <div class="modal-dialog modal-dialog-scrollable modal-fluid" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add Modal</h4>
        <div>
          <button
            type="button"
            class="close mr-1 unset-close"
            aria-label="Close"
            data-dismiss="modal"
            (click)="basicModal.hide()"
            mdbWavesEffect
          >
            x
          </button>
        </div>
      </div> -->

      <div>
        <!-- modal head -->
        <div class="header">
          <p>Add Application</p>
        </div>

        <br />
        <!-- modal body -->
        <div class="container">
          <div class="row">
            <div class="col-md-4 application-model">
              <p>Model</p>
              <select
                ngDefaultControl
                [ngModelOptions]="{ standalone: true }"
                class="browser-default custom-select d-block input-id"
                mdbTooltip="How many times in a 24hr period"
                placement="top"
              >
                <option value="select-model">-select-model</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
              </select>
            </div>

            <div class="col-md-8 app-file">
              <div class="row">
                <div class="form-check-inline">
                  <p>App File</p>
                  <input type="text" class="form-control file-name" />
                  <button type="button" class="btn add-btn">Add File</button>
                </div>
              </div>
            </div>
          </div>

          <hr class="dotted" />

          <div class="row">
            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Application Name</label
              >
              <input type="text" class="form-control app-name" />
            </div>

            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Application Version</label
              >
              <input type="text" class="form-control app-version" />
            </div>
          </div>

          <div class="row">
            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Program File Name</label
              >
              <input type="text" class="form-control program-name" />
            </div>

            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Program File Version</label
              >
              <input type="text" class="form-control program-version" />
              <button type="button" class="btn add-btn">Add File</button>
            </div>
          </div>

          <div class="form-check form-check-inline row">
            <label class="form-check-label col-lg-3" for="inlineCheckbox1"
              >Description
            </label>
            <input type="text" class="form-control description" />
          </div>

          <hr class="dotted" />
          <div class="row">
            <div class="col-md-6 organisation-name">
              Organisation
              <input type="text" class="form-control organisation" />
            </div>
            <div class="col-md-6 expiration-period">
              Expiration date/time
              <input type="text" class="form-control expiration-date" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="selections col">
              <input type="checkbox" id="selectAll" />
              Share to Sub organisation
            </div>
            <div class="selections col">
              <input type="checkbox" id="selectAll" />
              Make this an Application Manager
            </div>
          </div>
        </div>
        <hr />
        <!-- modal footer -->
        <div class="buttons">
          <button type="button" class="btn back-btn">Back</button>
          <button type="button" class="btn done-btn">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- View merchant modal -->
<div
  mdbModal
  #viewModal="mdbModal"
  class="modal fade"
  style="overflow: auto"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: true, ignoreBackdropClick: false }"
>
  <div class="modal-dialog modal-dialog-scrollable modal-fluid" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add Modal</h4>
        <div>
          <button
            type="button"
            class="close mr-1 unset-close"
            aria-label="Close"
            data-dismiss="modal"
            (click)="basicModal.hide()"
            mdbWavesEffect
          >
            x
          </button>
        </div>
      </div> -->

      <div>
        <!-- modal head -->
        <div class="header">
          <p>View Application</p>
        </div>

        <br />
        <!-- modal body -->
        <div class="container">
          <div class="row">
            <div class="col-md-4 application-model">
              <p>Model</p>
              <select
                ngDefaultControl
                [ngModelOptions]="{ standalone: true }"
                class="browser-default custom-select d-block input-id"
                mdbTooltip="How many times in a 24hr period"
                placement="top"
              >
                <option value="select-model">-select-model</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
              </select>
            </div>

            <div class="col-md-8 app-file">
              <div class="row">
                <div class="form-check-inline">
                  <p>App File</p>
                  <input type="text" class="form-control file-name" />
                  <button type="button" class="btn add-btn">Add File</button>
                </div>
              </div>
            </div>
          </div>

          <hr class="dotted" />

          <div class="row">
            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Application Name</label
              >
              <input type="text" class="form-control app-name" />
            </div>

            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Application Version</label
              >
              <input type="text" class="form-control app-version" />
            </div>
          </div>

          <div class="row">
            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Program File Name</label
              >
              <input type="text" class="form-control program-name" />
            </div>

            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Program File Version</label
              >
              <input type="text" class="form-control program-version" />
              <button type="button" class="btn add-btn">Add File</button>
            </div>
          </div>

          <div class="form-check form-check-inline row">
            <label class="form-check-label col-lg-3" for="inlineCheckbox1"
              >Description
            </label>
            <input type="text" class="form-control description" />
          </div>

          <hr class="dotted" />
          <div class="row">
            <div class="col-md-6 organisation-name">
              Organisation
              <input type="text" class="form-control organisation" />
            </div>
            <div class="col-md-6 expiration-period">
              Expiration date/time
              <input type="text" class="form-control expiration-date" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="selections col">
              <input type="checkbox" id="selectAll" />
              Share to Sub organisation
            </div>
            <div class="selections col">
              <input type="checkbox" id="selectAll" />
              Make this an Application Manager
            </div>
          </div>
        </div>
        <hr />
        <!-- modal footer -->
        <div class="buttons">
          <button type="button" class="btn back-btn">Back</button>
          <button type="button" class="btn done-btn">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit merchant modal -->
<div
  mdbModal
  #editModal="mdbModal"
  class="modal fade"
  style="overflow: auto"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myBasicModalLabel"
  aria-hidden="true"
  [config]="{ backdrop: true, ignoreBackdropClick: false }"
>
  <div class="modal-dialog modal-dialog-scrollable modal-fluid" role="document">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add Modal</h4>
        <div>
          <button
            type="button"
            class="close mr-1 unset-close"
            aria-label="Close"
            data-dismiss="modal"
            (click)="basicModal.hide()"
            mdbWavesEffect
          >
            x
          </button>
        </div>
      </div> -->

      <div>
        <!-- modal head -->
        <div class="header">
          <p>Edit Application</p>
        </div>

        <br />
        <!-- modal body -->
        <div class="container">
          <div class="row">
            <div class="col-md-4 application-model">
              <p>Model</p>
              <select
                ngDefaultControl
                [ngModelOptions]="{ standalone: true }"
                class="browser-default custom-select d-block input-id"
                mdbTooltip="How many times in a 24hr period"
                placement="top"
              >
                <option value="select-model">-select-model</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="6">6</option>
              </select>
            </div>

            <div class="col-md-8 app-file">
              <div class="row">
                <div class="form-check-inline">
                  <p>App File</p>
                  <input type="text" class="form-control file-name" />
                  <button type="button" class="btn add-btn">Add File</button>
                </div>
              </div>
            </div>
          </div>

          <hr class="dotted" />

          <div class="row">
            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Application Name</label
              >
              <input type="text" class="form-control app-name" />
            </div>

            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Application Version</label
              >
              <input type="text" class="form-control app-version" />
            </div>
          </div>

          <div class="row">
            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Program File Name</label
              >
              <input type="text" class="form-control program-name" />
            </div>

            <div class="form-check form-check-inline col">
              <label class="form-check-label col-lg-3" for="inlineCheckbox1"
                >Program File Version</label
              >
              <input type="text" class="form-control program-version" />
              <button type="button" class="btn add-btn">Add File</button>
            </div>
          </div>

          <div class="form-check form-check-inline row">
            <label class="form-check-label col-lg-3" for="inlineCheckbox1"
              >Description
            </label>
            <input type="text" class="form-control description" />
          </div>

          <hr class="dotted" />
          <div class="row">
            <div class="col-md-6 organisation-name">
              Organisation
              <input type="text" class="form-control organisation" />
            </div>
            <div class="col-md-6 expiration-period">
              Expiration date/time
              <input type="text" class="form-control expiration-date" />
            </div>
          </div>
          <br />
          <div class="row">
            <div class="selections col">
              <input type="checkbox" id="selectAll" />
              Share to Sub organisation
            </div>
            <div class="selections col">
              <input type="checkbox" id="selectAll" />
              Make this an Application Manager
            </div>
          </div>
        </div>
        <hr />
        <!-- modal footer -->
        <div class="buttons">
          <button type="button" class="btn back-btn">Back</button>
          <button type="button" class="btn done-btn">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
