<!--Double navigation-->
<header>

  <mdb-sidenav #sidenav class="fixed" [fixed]="false">
    <links class="bottom-fix">
      <div class="">
       <div class="logo-style ml-1 mr-5" style="display: inline-block">
   
      <a href="/" class="m-0 p-0" style="text-align: center;"
        ><img src="../../../assets/img/logo.png" class="img-fluid" style="width: 120px;"
      /></a>
      <p class="logo-text">Terminal Management System</p>
  
          </div> 
        <!-- <div class="navbar-brand">
          <img src="../../../assets/img/logo.png" class="img-fluid" />
          <p>Terminal Management System</p>
        </div> -->
        <ul class="collapsible collapsible-accordion">
          <li
           
            [ngClass]="{
              active: (dashboardLink || {}).isActive
            }"
            #dashboardLink="routerLinkActive"
            routerLink="merchant"
            routerLinkActive="active-link"
            (click)="closeNav()"
          >
            <a class="li-class"> &nbsp; Merchant </a>
          </li>
          <li
            class="side-btn"
            [ngClass]="{
              active: (dashboardLink2 || {}).isActive
            }"
            #dashboardLink2="routerLinkActive"
            routerLink="terminal"
            routerLinkActive="active-link"
            (click)="closeNav()"
          >
            <a class="li-class"> &nbsp; Terminal </a>
          </li>

          <li
            class="side-btn"
            [ngClass]="{
              active: (dashboardLink3 || {}).isActive
            }"
            #dashboardLink4="routerLinkActive"
            routerLink="application"
            routerLinkActive="active-link"
            (click)="closeNav()"
          >
            <a class="li-class"> &nbsp; Application </a>
          </li>
          <li
            class="side-btn"
            [ngClass]="{
              active: (dashboardLink3 || {}).isActive
            }"
            #dashboardLink4="routerLinkActive"
            routerLink="model"
            routerLinkActive="active-link"
            (click)="closeNav()"
          >
            <a class="li-class"> &nbsp; Model </a>
          </li>
          <li
            class="side-btn"
            [ngClass]="{
              active: (dashboardLink7 || {}).isActive
            }"
            #dashboardLink7="routerLinkActive"
            routerLink="capk"
            routerLinkActive="active-link"
            (click)="closeNav()"
          >
            <a class="li-class"> &nbsp; CAPK </a>
          </li>
        </ul>

        <div></div>
      </div>
    </links>
  </mdb-sidenav>
  <!--/. Sidebar navigation -->

  <!-- Navbar -->
  <mdb-navbar SideClass="navbar double-nav fixed-top" [containerInside]="false">
    <navlinks class="navbar-container navbar-style px-4"> 

  <div class="bar-style">
        <a (click)="sidenav.show()" class="button-collapse " style="display: flex; align-items: center;">
          <i class="fa fa-bars"></i> 
  <!-- <div class="logo-style ml-1 mr-5" style="display: inline-block">
   
      <a href="/" class="m-0 p-0"
        ><img src="../../../assets/img/logo.png" class="img-fluid"
      /></a>
      <p class="logo-text">Terminal Management System</p>
  
          </div> -->
   </a>
      </div> 
 
  </navlinks>

    <navlinks class="nav-style">
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <li class="nav-item dropdown btn-group" dropdown>
          <a
            dropdownToggle
            type="button"
            class="nav-link dropdown-toggle waves-light"
            mdbWavesEffect
          >
            <i class="fa fa-user" style="color: #4b709a"></i> &nbsp; role
          </a>
          <div
            class="dropdown-menu dropdown-primary dropdown-menu-right"
            role="menu"
          >
            <a routerLink="/auth/new-password" class="dropdown-item disabled"
              >Change Password</a
            >
            <a (click)="signOut()" class="dropdown-item">Log Out</a>
          </div>
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->
  <!-- navbar -->
  <!-- Image and text -->

  <!-- <navbar class="navbar">
    <div class="navbar-brand">
      <img src="../../../assets/img/logo.png" class="img-fluid" />
      <p>Terminal Management System</p>
    </div>

    <div class="profile">
      <img class="profile-image" src="../../../assets/img/user.svg" />
      <p
        class="nav-link dropdown-toggle"
        href="#"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Ademola
      </p>
    </div>
  </navbar> -->
  <!-- sidebar -->
  <!-- <links class="sidebar">
    <div class="menu-items">
      <ul>
        <li
          class="side-btn"
          [ngClass]="{
            active: (dashboardLink || {}).isActive
          }"
          #dashboardLink="routerLinkActive"
          routerLink="merchant"
          routerLinkActive="active-link"
          (click)="closeNav()"
        >
          <a> &nbsp; Merchant </a>
        </li>
        <li
          class="side-btn"
          [ngClass]="{
            active: (dashboardLink2 || {}).isActive
          }"
          #dashboardLink2="routerLinkActive"
          routerLink="terminal"
          routerLinkActive="active-link"
          (click)="closeNav()"
        >
          <a> &nbsp; Terminal </a>
        </li>

        <li
          class="side-btn"
          [ngClass]="{
            active: (dashboardLink3 || {}).isActive
          }"
          #dashboardLink3="routerLinkActive"
          routerLink="application"
          routerLinkActive="active-link"
          (click)="closeNav()"
        >
          <a> &nbsp; Application </a>
        </li>
        <li
          class="side-btn"
          [ngClass]="{
            active: (dashboardLink4 || {}).isActive
          }"
          #dashboardLink4="routerLinkActive"
          routerLink="model"
          routerLinkActive="active-link"
          (click)="closeNav()"
        >
          <a> &nbsp; Model </a>
        </li>
        <li
          class="side-btn"
          [ngClass]="{
            active: (dashboardLink5 || {}).isActive
          }"
          #dashboardLink5="routerLinkActive"
          routerLink="capk"
          routerLinkActive="active-link"
          (click)="closeNav()"
        >
          <a> &nbsp; CAPK </a>
        </li>
      </ul>
    </div>
  </links> -->
</header>
<!--/.Double navigation-->
