.header {
  height: 40px;
  width: 240px;
  text-align: center;
  color: #fff;
  font-family: poppins;
  padding-top: 7px;
  background: #5dcc96 0% 0% no-repeat padding-box;
  border-radius: 0px 70px 70px 0px;
  opacity: 1;
}
// .main {
//   flex: 1 0 auto;
//   min-height: 100%;
//   padding: 5rem 1rem 2rem 10rem;
//   background-color: #ffffff;
// }
// .container {
//   padding-left: 40px;
//   padding-right: 40px;
// }
.row {
  justify-content: space-evenly;
}
.merchant-id {
  color: #4b709a;
  float: left;
  font-family: poppins;
  font-size: 12px;
  margin-top: 10px;
}
.merchant-name {
  color: #4b709a;
  font-family: poppins;
  font-size: 12px;
  margin-top: 10px;
}
.merchant-status {
  color: #4b709a;
  font-family: poppins;
  font-size: 12px;
  margin-top: 10px;
}
.merchant-number {
  color: #4b709a;
  font-family: poppins;
  font-size: 12px;
  margin-top: 10px;
}
.merchant-description {
  color: #4b709a;
  font-family: poppins;
  font-size: 12px;
  margin-top: 10px;
}
.input-id {
  width: 205px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #4b709a;
  border-radius: 4px;
  opacity: 1;
}
.input-name {
  width: 150px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #4b709a;
  border-radius: 4px;
  opacity: 1;
}
.input-status {
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #4b709a;
  border-radius: 4px;
  opacity: 1;
}
.phone-number {
  width: 140px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #4b709a;
  border-radius: 4px;
  opacity: 1;
}
.btn-filter {
  background-color: #4b709a;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  opacity: 1;
  height: 30px;
  width: 80px;
  margin-top: 27px;
}
.description {
  width: 362px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #4b709a;
  border-radius: 4px;
  opacity: 1;
}
.form-control {
  margin-top: 7px;
}
.selections {
  color: #4b709a;
  font-family: Poppins;
  font-size: 12px;
}
.merchant-type {
  font-family: Poppins;
  font-size: 14px;
  color: #4b709a;
}
.address {
  box-sizing: border-box;
  border: 1px solid #4b709a;
  border-radius: 4px;
  opacity: 1;
}
.postal {
  box-sizing: border-box;
  border: 1px solid #4b709a;
  border-radius: 4px;
  opacity: 1;
}
.input-organisation,
.input-state,
.input-country {
  box-sizing: border-box;
  border: 1px solid #4b709a;
  border-radius: 4px;
  font-size: 12px;
  color: #4b709a;
  opacity: 1;
}
.form-check-label {
  font-family: poppins;
  font-size: 12px;
  color: #4b709a;
}
.dropdown {
  font-size: 12px;
  font-family: Poppins;
  color: #4b709a;
}
.dropdown-option {
  font-size: 15px;
  font-family: Poppins;
  color: #4b709a;
}

.dotted {
  border-top: 1px dashed rgb(211, 208, 208);
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-btn {
  color: white;
  font-size: 12px;
  background: #d3d3d3 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #4b709a19;
  border-radius: 4px;
  opacity: 1;
}
.done-btn {
  color: white;
  font-size: 12px;
  background: #4b709a 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #4b709a19;
  border-radius: 4px;
  opacity: 1;
}
//start
.flexicon {
  margin-left: 89px;
  height: 40px;
  width: 85%;
  border: 2px solid #4b6f99;
  border-radius: 4px;
  background-color: #fff;
  opacity: 1;
}
.flexicon ul {
  list-style-type: none;
  display: flex;
  color: #5dcc96;
  cursor: pointer;
}
.flexicon li {
  margin-right: 20px;
}
.flexicon a {
  float: left;
  margin: 10px;
  font-size: 12px;
}
.flexicon-image {
  width: 15px;
  height: 15px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: #5dcc96;
}
.table {
  width: 100%;
  border: 2px solid #4b709a;
  opacity: 1;
}
.table th {
  border: 2px solid #4b709a;
  font-size: 12px;
  color: #4b709a;
}
.table td {
  font-size: 12px;
}
