<!-- <div class="row">
  <div class="col-md-8">
    <!-- <img src="../../../../assets/img/angular-mdb.png" alt="Error 404" class="img-fluid" width="200px" height="20px"> -
    <h2 class="h2-responsive mt-3 mb-2">404. That's an error.</h2>
    <h4>The requested URL was not found on this server.</h4>
  </div>
  <div class="col-md-4">
    <img src="https://mdbootstrap.com/img/Others/grafika404-bf.png" alt="Error 404" class="img-fluid">
  </div>
</div> -->

<div class="container not-found center">
  <div class="row center">
    <div class="col-lg-5">
      <h1 class="not-heading">Error 404</h1>
      <h4 class="mt-3 text-color">
        The page you're looking for cannot be found
      </h4>
    </div>
    <div class="col-lg-7">
      <img src="../../../../assets/img/not-found.png" class="img-fluid" />
    </div>
  </div>
</div>
