$base-color: #5dcc96;
$base-color2: #4b709a;
$white-color: #fff;
$base-color3: #154fc9;
$base-color4: #00c851;
$base-color5: #007e33;
$base-color6: #ff4444;
$base-color7: #69a8ff;
$base-color8: #159e94;
$base-color9: #f23551;
$base-color10: #091c46;
$base-color11: #116fff;
$base-color12: #69a8ff;

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");
}
body {
  background-color: #fcf9ff;
  font-size: 12px;
  // font-family: "Futura"
}

.submit {
  top: 50%;
  transform: translate(0, -50%);
  // position: absolute;
}

.submit .holder {
  justify-content: center;
  max-width: 500px;
  margin: auto !important;
  background-color: white;
}

.btn-group-style {
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 1000px) {
  .btn-group-style {
    justify-content: normal;
  }
}

.submit div.check {
  position: absolute;
  top: 0%;
  left: 42%;
}

.submit img.noshow,
p.noshow,
.holder.noshow {
  visibility: hidden;
  opacity: 0;
}

.submit img.show,
p.show {
  // transition-delay: 2s;
  visibility: visible;
  animation: animation-name2 4s;
  // animation: animation-name 4s 1s;
}

.submit .holder.show {
  // transition-delay: 2s;
  visibility: visible;
  animation: animation-name3 4s;
  // animation: animation-name 4s 1s;
}

.submit img.rotate {
  visibility: visible;
  animation: animation-name 4s;
  // animation-name2 4s;
}

.submit p {
  color: $base-color10;
  font-size: 40px;
}

@keyframes animation-name {
  0% {
    opacity: 0;
    transform: scale(0) rotate(0deg);
  }
  20% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
  60% {
    opacity: 1;
    transform: scale(1) rotate(-360deg);
  }
  80% {
    opacity: 1;
    transform: scale(1) rotate(-360deg);
  }
  85% {
    opacity: 1;
    transform: scale(1) rotate(-360deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-360deg);
  }
}

.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.table-wrapper {
  max-height: 1863.6px !important;
}

.card.card-cascade h3,
.card.card-cascade h4 {
  margin-bottom: 0px;
}
.blue-gradient {
  background: linear-gradient(
    to right,
    $base-color2 0%,
    $base-color 100%
  ) !important;
}

.btn.btn-sm {
  padding: 0.3rem 0.7rem !important;
}

p:not(.no-change) {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-weight: 500 !important;
}

.datepickers .md-form,
.inputs .md-form {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.form-control {
  background-color: #f2f2f2;
}

.custom-select {
  background-color: #f2f2f2;
}

.modal-full-height.modal-bottom > .modal-content {
  position: absolute !important;
  bottom: 0;
}

.foot-p {
  color: #fff;
  padding-left: 1.3rem;
  padding-bottom: 1px;
  font-size: 10px !important;
}

.new-width {
  max-width: 66% !important;
}

.new-height {
  max-height: 28px !important;
}

.md-tabs .nav-link.active,
.md-tabs .nav-item.open .nav-link {
  background-color: $base-color !important;
}
// .md-form {
//   margin-bottom: 0 !important;
// }

.white-skin .btn-primary {
  background-color: #fff !important;
}

// .btn {
//   border-radius: 5px !important;
//   margin-left: 0 !important;
// }

.need-header {
  background: $base-color2;
  padding: 0.5rem;
  color: #fff;
}

.h2-responsive {
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 170%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-nav .collapsible .card-body li a {
  font-size: 0.9rem;
}

table td {
  padding: 0.3rem !important;
  font-size: 12px;
  font-weight: 400;
  // border-bottom: 10px solid #fff !important;
}
body {
  color: #2c2c2c;
}
.table-ui[_ngcontent-c6] {
  border: 0 !important;
}

.table-ui[_ngcontent-c9] {
  border: 0 !important;
}

.card.card-cascade .view.view-cascade.gradient-card-header {
  padding: 1rem;
  justify-content: center !important;
}

.white-skin .side-nav .collapsible li {
  background-color: #fff;
  border-radius: 0px 6px 6px 0px;
  width: 200px;
  padding: 0;
  margin-top: 30px;
}
.white-skin .side-nav .collapsible li :hover {
  background-color: #fff;
  color: #4b709a;
  border-radius: 20px 0px 0px 20px;
}
.white-skin .side-nav .collapsible li a img {
  width: 10%;
}

.active-link a {
  color: #4b709a !important;
  background-color: #fff;
  border-radius: 20px 0px 0px 20px;
  // /* width: 200px; */
  // padding: 2px;
  // margin-top: 40px;
  // margin-left: 18px;
  // transform: translate(20px);
  // background-color: #fff;
  // border-radius: 0px 4px 4px 0px;
  // width: 200px;
  // padding: 10px;
  // margin-top: 10px;
}

// .active-link a img {
//   -webkit-filter: invert(23%) sepia(93%) saturate(7064%) hue-rotate(269deg)
//     brightness(78%) contrast(134%);
//   filter: invert(23%) sepia(93%) saturate(7064%) hue-rotate(269deg)
//     brightness(78%) contrast(134%);
//   width: 10%;
// }

.bold-text {
  font-weight: 500;
}

// .side-nav .collapsible a {
//   color: #000;
// }
.white-skin .side-nav .collapsible li {
  background-color: transparent;
  border-radius: 0px 6px 6px 0px;
  width: 200px;
  padding: 10px;
  margin-top: 10px;
}
.white-skin .side-nav {
  background-color: $base-color;
}
.card.card-cascade .view.view-cascade {
  box-shadow: unset !important;
}

.white-skin .side-nav .collapsible .card .card-header:hover {
  border: 1px !important;
  background-color: $base-color !important;
  // border: 1px solid #153C5B !important;
  // margin: 0px 5px !important;
  border-radius: 0.25rem !important;
}
// background-color: #fff;
// border-radius: 20px 0px 0px 20px;
// /* width: 200px; */
// padding: 2px;
// margin-top: 40px;
// margin-left: 18px;
// }
.white-skin .side-nav .collapsible .card .card-header a:hover {
  border: 0px !important;
  background-color: unset !important;
  // border: 1px solid #b7b0b0 !important;
  // margin: 0px 5px !important;
  // border-radius: 0.25rem !important;
}

.side-nav .collapsible .card .card-header a h5 {
  padding-left: 12px !important;
  color: $base-color !important;
}

mdb-item-head.active {
  border: 1px !important;
  background-color: $base-color !important;
  // border: 1px solid $base-color !important;
  border-radius: 0.25rem !important;
}

.side-nav .collapsible .card.active .card-header a {
  background-color: unset;
}

.side-nav .collapsible .card .card-header a .rotate-icon {
  top: 13px;
  margin-right: unset !important;
}

.white-skin .side-nav .collapsible .card .card-header a h5:focus {
  border: 0 !important;
  outline: 0 !important;
}

mdb-item-head {
  outline: 0 !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

mdb-item-body {
  outline: 0 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.white-skin .side-nav .collapsible .card .card-header {
  border: 0 !important;
  outline: 0 !important;
}

.white-skin .side-nav .collapsible .card-body li a {
  color: rgb(39, 37, 37);
  background-color: #fff;
}

.white-skin .side-nav .collapsible .card .card-header a:focus {
  border-color: #413f3f !important;
}

.img-fluid,
.modal-dialog.cascading-modal.modal-avatar .modal-header,
.comments-list img,
.reply-form img,
.video-fluid {
  padding: 1rem;
}

.img-fluid {
  padding-top: 0;
  padding-bottom: 0;
}

.md-form input[type="text"],
.md-form input[type="password"],
.md-form input[type="email"],
.md-form input[type="url"],
.md-form input[type="time"],
.md-form input[type="tel"],
.md-form input[type="date"],
.md-form input[type="datetime-local"],
.md-form input[type="number"],
.md-form input[type="search-md"],
.md-form input[type="search"],
.md-form textarea.md-textarea {
  height: 24px !important;
  background-color: white !important;
}

.white-skin .btn-secondary {
  white-space: nowrap;
}

table.table thead th {
  white-space: nowrap;
  border-bottom: 0 !important;
}
table th {
  font-size: 0.9rem !important;
  font-weight: 400;
}

.table th {
  padding: 0.3rem !important;
}
.grey {
  background-color: #60666b !important;
}

mdb-tabset .container-fluid {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.navbar {
  // padding: unset;

  padding-top: 10px;
  padding-bottom: 10px;
}

.button-collapse {
  margin-left: 2rem !important;
}

.double-nav .button-collapse {
  left: unset !important;

  // top: 4%;
}

.hidden-sn main {
  padding-top: 4.5rem;
}

.container-fluid {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

@media (max-width: 1500px) {
  .container-fluid {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 1000px) {
  .container-fluid {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

mdb-toast-component.ng-trigger.ng-trigger-flyInOut {
  opacity: unset !important;
}

.fa-angle-down:before {
  // color: #fff;
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.pagination .page-item.active .page-link {
  background-color: $base-color2 !important;
}

.page-link {
  padding: 0.2rem 0.5rem !important;
  margin-left: 10px !important;
}

td {
  padding: 0.25rem !important;
  vertical-align: middle !important;
}

@media (min-width: 1200px) {
  .fixed-sn main,
  .fixed-sn .page-footer .container-fluid {
    margin-left: 0% !important;
    margin-right: 0% !important;
  }
}

.fa-caret-down:before {
  font-size: 17px;
  color: #ff0707;
}

.main-subtitle p.percent.down,
.percent .fa-caret-down {
  color: $base-color9;
}

.main-subtitle p.value {
  color: #707070;
}

.main-subtitle p.percent.up,
.percent .fa-caret-up {
  color: $base-color8;
}

@media print {
  .splitter {
    display: block !important;
    // flex-flow: row wrap;
  }
}
.loader-class {
  display: flex;
  background: rgba(255, 255, 255, 0.925);
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999999;
}

.loader-img {
  width: 150px;
}

.splitter > div {
  display: inline-block;
  padding: 1px !important;
  margin: auto;
  margin-top: 20px;
  vertical-align: top;
}

.side-nav {
  width: 12rem !important;
}

.invoice-box .title img {
  max-width: 160px;
  height: 50px;
  margin: 0px auto;
  display: block;
}

@media (min-width: 373px) {
  .modal-custom {
    max-width: 373px;
  }
}

@media (max-width: 1500px) {
  .modal-body {
    padding: 0px !important;
  }
}

.noWrap {
  white-space: nowrap;
  overflow: hidden;
}

table.table td a:not(.new-style) {
  color: #007bff !important;
}

table.table td a:hover:not(.new-style) {
  color: #db4c4c !important;
  text-decoration: underline;
}

.pills-primary .nav-link.active {
  background-color: #db4c4c !important;
}

.tabs-wrapper > div > div > div {
  padding: 0;
}

.mydp-date {
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
  padding: 0.375rem 0.75rem !important;
}

.filter-bar p {
  font-size: 11px;
}

.md-form input[type="text"],
.md-form input[type="password"],
.md-form input[type="email"],
.md-form input[type="url"],
.md-form input[type="time"],
.md-form input[type="date"],
.md-form input[type="datetime-local"],
.md-form input[type="tel"],
.md-form input[type="number"],
.md-form input[type="search-md"],
.md-form input[type="search"] {
  box-sizing: border-box;
  height: calc(2.25rem + 2px) !important;
  background-color: #f2f2f2;
}

.new-font {
  font-size: 24px !important;
  color: #000 !important;
}

.new-head {
  color: #4f4f4f !important;
  margin-bottom: 0 !important;
  text-transform: capitalize;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.pt-73 {
  padding-top: 73px !important;
}

.py-4-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.table-border {
  border: 1px #626262 solid;
  border-radius: 5px;
}

.pb-10 {
  padding-bottom: 8rem;
}

.nav-link {
  text-align: left;
  padding: 0.5rem 1rem !important;
  border-radius: 10px;
  font-weight: bold;
}

.md-tabs {
  background-color: $base-color2 !important;
  text-align: left;
  box-shadow: unset !important;
}

// .md-tabs:hover {
//   background-color: rgb(228, 234, 238) !important;
// }

.md-tabs .nav-link.active,
.md-tabs .nav-item.open .nav-link {
  text-align: left;
  background-color: $base-color !important;
}

.md-tabs .nav-link:hover {
  border-radius: 0.25rem;
  background-color: $base-color !important;
}

.md-tabs.flex-column .nav-link {
  padding: 0.2rem 1rem !important;
  color: #fff;
}

.flex-column .active a {
  background-color: unset !important;
  border-color: unset !important;
  color: #000000 !important;
  font-weight: 500 !important;
}

.flex-column .nav-item a {
  color: #000000 !important;
}

.flex-column a {
  font-size: 14px !important;
}

//  .fixed-sn .double-nav, .fixed-sn main, .fixed-sn footer {
//   padding-left: 13rem !important;
// }

mdb-tabset .white li .nav-link {
  color: #fff !important;
}

.side-nav .collapsible .card-body li a {
  padding-left: 0.8rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

.mt-1-2 {
  margin-top: 1.1rem !important;
}

.tab-content {
  padding-top: 0 !important;
}

.btn-uc {
  background-color: $base-color12;
}

.btn-ud {
  background-color: $base-color11;
}
.btn-term-col1 {
  background-color: $base-color7;
}

.btn-trans-col1 {
  background-color: $base-color8;
}

.btn-trans-col2 {
  background-color: $base-color9;
}

.btn-trans-col3 {
  background-color: $base-color10;
}
.btn-trans-col4 {
  background-color: $base-color11;
}

td {
  border: 0 !important;
}

tbody > tr:not(.no-change) {
  background-color: #fff !important;
  margin: 10px !important;
}

tbody > tr:not(.no-change):hover {
  background-color: #f2f2f2 !important;
}

table.new-table-style th {
  border-top: unset !important;
  background-color: #fff !important;
}

table.new-table-style td {
  background-color: #fff !important;
}

// table.another-style th {
//   background-color: #F2F2F2  !important;
// }

table.another-style tr:not(.no-change) td {
  background-color: #f2f2f2 !important;
}

table.another-style tr.no-change td {
  background-color: #ffffff !important;
}

tr.no-change:hover {
  background-color: #ffffff !important;
}

table.border-space {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}
table.border-space tbody > tr:not(.no-change) td {
  border-top: solid 1px #e0e0e0 !important;
  border-bottom: solid 1px #e0e0e0 !important;
}
table.border-space tbody:not(.no-change) > tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table.border-space tbody:not(.no-change) > tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

table.border-space tbody.no-change > tr td:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

table.border-space tbody.no-change > tr td:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.new-look {
  font-weight: 300 !important;
  font-size: 1.15rem !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.noChange thead {
  background: $base-color2;
  color: #fff;
}

.noChange tr td:first-child {
  font-weight: 300 !important;
}

.noChange td {
  font-size: 14px !important;
  font-weight: 400;
  padding: 0.7rem !important;
}

.width-min {
  padding-right: 15px !important;
  padding-left: 15px !important;
  min-width: 150px !important;
}

.bottom-fix {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.p-relative {
  position: relative !important;
}

.invoice-box table tr {
  background-color: #fff !important;
}

.a-search .fa-angle-down:before {
  color: $base-color2 !important;
}

.picker__table tbody > tr {
  background: #fff !important;
}

.btn-gc {
  background-color: #4f4f4f;
}

.btn-anim {
  // box-shadow: unset !important;
  // cursor: unset !important;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  padding: 0.3rem 0.7rem !important;
  font-size: 10px;
  margin: -0.375rem;
  text-transform: uppercase;
  line-height: 12px;
  color: #022e64 !important;
  background-color: transparent;
}

.navbar {
  box-shadow: unset !important;
}

.side-nav {
  box-shadow: unset !important;
}

.modal-fluid {
  width: 80% !important;
}

.wider.modal-fluid {
  width: 90% !important;
}

.icon-changer li.active a.active span i::before {
  color: $base-color2;
}

.icon-changer li {
  margin-bottom: 5px;
}

.icon-changer .fa-circle:before {
  color: #e0e0e0;
}

.icon-changer .fa.style-fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

.fa.style-legend {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
}

.fa.style-title {
  font-size: 24px;
}

.style-title {
  margin-bottom: 0px !important;
}

.text-legend {
  font-weight: 450;
}

.term-col1 {
  color: $base-color7;
}

.term-col2 {
  color: $base-color3;
}

.trans-col1 {
  color: $base-color8;
}

.trans-col2 {
  color: $base-color9;
}

.trans-col3 {
  color: $base-color10;
}

.trans-col4 {
  color: $base-color11;
}

.warn-col1 {
  color: #ceab12;
}

.edit_style .title {
  color: #022e64;
  font-size: 13px;
  font-family: helvetica;
  font-weight: lighter;
}

.edit_style .subtitle {
  color: #9a9a9a;
  font-size: 13px;
  font-family: helvetica;
  font-weight: lighter;
}

.row {
  margin: 0px !important;
}
@media (min-width: 769px) {
  .new-size .col-md-3 {
    max-width: 16%;
    margin-left: 15px;
  }

  .new-size .col-md-9 {
    max-width: 100% !important;
    flex: 1 1 !important;
  }
}

.new-width2 {
  width: 120px !important;
}

@media (max-width: 500px) {
  .merchant-phone {
    padding: 0 !important;
  }

  .merchant-phone .px-4 {
    padding: 0.2rem !important;
  }

  .btn.btn-md {
    width: 76px !important;
  }

  .new-width2 {
    width: 76px !important;
  }

  .dashboard-chart-style .title {
    left: 18% !important;
  }

  .dashboard-chart-style .subtitle {
    left: 18% !important;
  }
}

.new-style {
  color: $base-color2 !important;
  font-size: 20px !important;
}

.table-wrapper {
  display: block;
  max-height: 186em;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: nowrap;
}

.ml-05 {
  margin-left: 0.5rem !important;
}

select {
  text-transform: capitalize !important;
}

@media (max-width: 1440px) {
  .top-nav-collapse .button-collapse-non-fixed {
    top: 3px;
  }
}

.text-uc {
  color: $base-color2;
}

.text-ud {
  color: $base-color;
}

.progress {
  height: 17px !important;
  width: 265px !important;
  margin-bottom: 0px !important;
  background-color: #f2f2f2 !important;
}

.progress .progress-bar {
  height: 17px !important;
}

.progress .progress-bar.progress-bar-success {
  background-color: $base-color !important;
}

.color-new {
  color: $base-color4 !important;
}

.color-new2 {
  color: $base-color5 !important;
}

.color-new3 {
  color: $base-color5 !important;
}

.term-style {
  p {
    margin-bottom: 0.5rem !important;
  }
  span {
    font-weight: 600;
    width: 80px;
    display: inline-block;
  }
}

.heading-style {
  font-size: 18px;
  font-weight: 300 !important;
  margin-bottom: 0 !important;
}

.heading2-style {
  font-size: 25px;
  font-weight: 600 !important;
  margin-bottom: 0 !important;
}

.header-style {
  margin-bottom: 1rem !important;
  align-items: center;
}

.header-style .title {
  font-size: 25px !important;
  font-weight: 600 !important;
}

.header-style .subtitle {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.card-border {
  border-top: 1px #dadcde solid;
  border-bottom: 1px #dadcde solid;
}

.card-border-right {
  border-right: 1px #707070 dashed;
}

.pl-7 {
  padding-left: 5rem;
}

.pr-7 {
  padding-right: 5rem;
}

.mt-6 {
  margin-top: 4rem;
}

.mb-6 {
  margin-bottom: 4rem;
}

.group-style1 {
  border-radius: 5px 0px 0px 5px !important;
  border-left: 2px solid $base-color3;

  box-shadow: unset !important;
}

.group-style2 {
  border-radius: 0px !important;
}

.group-style3 {
  border-radius: 0px 5px 5px 0px !important;
  border-right: 2px solid $base-color3;
}

.btn-group-trend {
  box-shadow: unset !important;
  border-top: 2px solid $base-color3;
  border-bottom: 2px solid $base-color3;
  color: #000000 !important;
}

.btn-selected-style {
  color: $base-color3 !important;
}

.btn-selected-style.slider,
.btn-selected-style.slider-short {
  background-color: #d1e4ffbd !important;
  position: absolute;
  height: 41.9px !important;
  transition: transform 0.5s;
}

@media (max-width: 1000px) {
  .btn-group-style .btn-selected-style.slider1.slider {
    transform: translate(2px, 0px) !important;
  }
  .btn-group-style .btn-selected-style.slider2.slider {
    transform: translate(121px, 0px) !important;
  }
  .btn-group-style .btn-selected-style.slider3.slider {
    transform: translate(240px, 0px) !important;
  }

  .btn-group-style {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}
.slider1.slider {
  transform: translate(-238px, 0px) !important;
}

.slider2.slider {
  transform: translate(-119px, 0px) !important;
}

.slider3.slider {
  transform: translate(0px, 0px) !important;
}

.slider1.slider-short {
  transform: translate(0px, 0px) !important;
}

.slider2.slider-short {
  transform: translate(120px, 0px) !important;
}

.slider3.slider-short {
  transform: translate(240px, 0px) !important;
}

.md-form.no-margin input {
  margin: 0 !important;
}

.new-picker .md-form {
  margin: 0 !important;
}

.pie-style {
  margin-left: 12%;
}

.pie-text p {
  font-size: 18px;
  font-weight: 500;
}

.detail-style .fa-caret-right {
  transform: scale(2);
  color: $base-color11;
}

.detail-style p {
  text-decoration: underline !important;
  color: $base-color12;
  font-size: 16px;
  font-weight: 500;
}

.card-header-style {
  font-size: 33px !important;
  color: $base-color3 !important;
  white-space: nowrap;
  padding-top: 25px !important;
  font-weight: 400 !important;
}

.card-title-style {
  font-size: 33px !important;
  font-weight: 600 !important;
  white-space: nowrap;
  padding-bottom: 10px !important;
  padding-top: 0 !important;
}
.card-subheader-style {
  font-size: 23px !important;
  white-space: nowrap;
  font-weight: 300 !important;
}
.card-body-style {
  font-size: 23px !important;
  color: $base-color3 !important;
  white-space: nowrap;
  padding-bottom: 25px !important;
}

.dashboard.form-control {
  height: calc(2.25rem + 5px) !important;
  border: 2px solid $base-color3;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: $base-color4 !important;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: $base-color5 !important;
}

.check-color {
  color: $base-color4;
  font-weight: 600;
}

.times-color {
  color: $base-color6;
  font-weight: 600;
}

.ptsp-card-label {
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  align-items: center;
}

.area-card-style .header {
  font-size: 16px;
}

.area-card-style .title {
  font-size: 18px;
  font-weight: 700;
}

.area-card-style div {
  min-width: 146px;
}

.area-title-style {
  color: $base-color11;
  font-size: 18px;
  font-weight: 700;
}

.side-nav-area {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
}

.area-style {
  align-items: center;
  min-width: 569px;
}

.area-style .full-height {
  max-width: 516px !important;
}
.ptsp-card-style {
  align-items: center;
  min-width: 565px;
}

.ptsp-card-style .full-height {
  max-width: 516px !important;
}

.side-nav-card {
  align-items: center;
  width: 500px;
}

.percentage-style p {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
}

.percentage-style {
  justify-content: space-between;
  position: absolute;
}

.percentage-position {
  width: 336px;
  top: 50%;
  margin-left: 2% !important;
}
.percentage-position2 {
  width: 315px;
  top: 50.5%;
  margin-left: 23.5% !important;
}
.percentage-position3 {
  width: 315px;
  top: 60%;
  margin-left: 23.5% !important;
}

.merchant-title {
  align-items: center;
}

.merchant-title .title {
  margin-bottom: 0 !important;
  margin-right: 30px !important;
  font-size: 33px;
  font-weight: 300;
}

.page-style {
  text-align: center;
}

.page-style .badge-pill {
  border-radius: 8rem;
  width: 23px;
  height: 23px;
  padding: 0 !important;
  background-color: #022e64 !important;
}

.pager-style {
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
}

.checker-style {
  font-weight: 400;
  font-size: 14px;
}

.pager-style2 {
  font-weight: 700;
  color: $base-color10;
  font-size: 14px;
}

.divider {
  // width: 371px;
  border-top: 3px solid $base-color10;
  margin-top: 1.2%;
}

.page-width {
  width: 390.58px;
}

.page-width2 {
  width: 392.58px;
}

.number-style p {
  color: #ffffff;
  position: absolute;
  padding-left: 7px;
  padding-top: 3px;
  font-weight: 700;
}

.px-2-5 {
  padding-right: 0.9rem;
  padding-left: 0.9rem;
}

.check-style p {
  font-size: 10px !important;
}

.no-padding div.form-check {
  padding-left: 0 !important;
}

.check-style .form-check-input[type="checkbox"] + label {
  padding-left: 20px !important;
}

.radio-style .form-check-input[type="radio"]:not(:checked) + label,
.radio-style .form-check-input[type="radio"]:checked + label {
  padding-left: 22px !important;
}
// .radio-style2 .form-check-input[type="radio"]:not(:checked) + label, .radio-style .form-check-input[type="radio"]:checked + label{
//   font-size: 18px !important
// }
.input-style {
  align-items: center;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: relative !important;
  pointer-events: all !important;
  opacity: 1 !important;
}
.p-input-style {
  font-size: 12px;
  color: #022e64;
}

.p-input-style2 {
  font-size: 13px;
}

a.disabled {
  cursor: not-allowed;
}

.special.fa {
  position: relative;
  color: #ffffff;
  right: 48%;
  top: -2px;
}

.drop-style {
  position: absolute;
  left: 33%;
  top: 55%;
  z-index: 1;
}

.error-style {
  padding-left: 15px !important;
  font-size: 9px;
}

.onboarding-title {
  color: #022e64;
  font-size: 15px;
}

.onboarding-subtitle {
  font-size: 12px;
  color: grey;
}

.btn.btn-md {
  padding: 10.8px 0px;
  font-size: 0.7rem;
  width: 120px;
  font-weight: bold;
  box-shadow: unset !important;
}

.circle-style {
  top: 50%;
  margin-top: -15.45px;
  left: 50%;
  margin-left: -18px;
  font-size: 14.2857px;
  position: absolute;
  text-align: center;
  width: 40px !important;
}

// .dashboard-chart-style{
//   top: 48%;
//     left: 27%;
//     margin-left: -18px;
//     font-size: 14.2857px;
//     position: absolute;
//     text-align: center;
//     width: 225px !important;
// }

.dashboard-chart-style .subtitle {
  top: 51%;
  left: 22%;
  position: absolute;
  text-align: center;
  width: 225px !important;
  font-size: 25px;
  font-weight: 600;
}

.dashboard-chart-style .title {
  top: 44%;
  left: 22%;
  position: absolute;
  text-align: center;
  width: 225px !important;
  font-size: 25px;
  font-weight: 600;
}

.main-subtitle {
  font-size: 22px;
  font-weight: 400;
}

.main-title {
  font-size: 25px;
  font-weight: 600;
}

.fa.carousel-style {
  color: $base-color12;
  font-size: 38px;
  cursor: pointer;
}

.fa.carousel-style2 {
  color: #707070;
  font-size: 38px;
}

.doc-height {
  height: 740px;
}
.form-control {
  display: block;
  width: 100%;
  height: 30px !important;
  padding: 0.375rem 0.75rem;
  font-size: 12px !important;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #022e64 !important;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select {
  height: 30px !important;
  border: 1px solid blue !important;
  font-size: 12px !important;
}
.form-check-input[type="radio"]:not(:checked) + label:before,
.form-check-input[type="radio"]:not(:checked) + label:after,
label.btn input[type="radio"]:not(:checked) + label:before,
label.btn input[type="radio"]:not(:checked) + label:after {
  border: 2px solid #022e64 !important;
}
.loader-class {
  display: flex;
  background: rgba(255, 255, 255, 0.925);
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999999;
}

.loader-img {
  width: 150px;
}
.md-pills .nav-link.active {
  background-color: $base-color !important;
  font-weight: bold;
}
.side-nav a {
  display: block;
  font-size: 1rem;
  height: 43px !important;
  line-height: 56px;
  padding-left: 20px;
}
.modal-footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: center !important;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}
.modal-header {
  padding: 0;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid $base-color2;
  border-right: 16px solid $base-color !important;
  border-bottom: 16px solid white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;

  margin: -75px 0 0 -75px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
